:root {
    --silk:#fff;
    --body: linear-gradient(to top, #330867, 50% #30cfd0 0%);
    --blackbody:linear-gradient(to right, #434343 0%, black 100%);
    --alt:#330867;
    --default: linear-gradient(to left, #b08bb8, 23% , #4341b0 );
    --online: linear-gradient(to right, #42da48 45%, #14ae72 55% );
    --offline: linear-gradient (to right,#94897f 65%, #0d2a37 35%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: .9rem;
}

img {
    height: 100%;
}

body{
    font-family: sans-serif;
   
}
#main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--default);
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    color: var(--silk);
    margin: 0 auto;
    padding: 0 20px;

}

section h2 {
    color: var(--silk)
}

section p {
  color: var(--silk);
  font-size: medium;

}
.status{b
    display: block;
    max-height: 100vh;
    max-width: 100vw;
    
}
.status-offline {
    width: 100%;
    max-height: 100%;
    background-color:#0d2a37;
    color: #f0f6d8;
    margin: auto 23px;

}

.status-online{
    visibility: hidden;

}