:root {
    --silk:#fff;
    --body: linear-gradient(to top, #330867, 50% #30cfd0 0%);
    --blackbody:linear-gradient(to right, #434343 0%, black 100%);
    --alt:#330867;
    --default: linear-gradient(to left, #b08bb8, 23% , #4341b0 );
    --online: linear-gradient(to right, #42da48 45%, #14ae72 55% );
    --offline: linear-gradient (to right,#94897f 65%, #0d2a37 35%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: .9rem;

}

img {
    height: 100%;
}

 body, section, #main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--default);
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    margin: 0 auto;
    align-self: center;
}

section h2 {
    color: var(--silk)
}

section p {
  color: var(--silk);
  font-size: medium;

}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    height: 3rem;
    width: 15rem;
    padding-left: 5rem;
    margin: 0 34rem;


    
    
}
.status-offline {
 

}

.status-online{
display: ;
}

@keyframes pop {
    0%{
        transform: translateY(-30rem)
    }
     50%{
        transform: translateY(-15rem)
    }

    100%{
        transform: translateY(0)
    }
}
 